<!--Push request-->


<div class="container">
<form class="edit-form">
      <div class="row">
      <div class="card" style="width: 70rem">
        <div class="card-body">
          <h5 class="card-title">Add Your Item</h5>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">Name:</span>
          <input type="text" class="form-control" placeholder="Ex, Shirts" aria-label="Ex, Shirts" aria-describedby="basic-addon1" name="item_name" value="{{items.item_name}}">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">Price:</span>
          <input type="text" class="form-control" placeholder="Ex, Price" aria-label="Ex, Price" aria-describedby="basic-addon1" name="price" value="{{items.price}}">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">ID:</span>
          <input type="text" class="form-control" placeholder="Ex, 1" aria-label="Ex, 1" aria-describedby="basic-addon1" name="id" value="{{items.id}}">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">Type:</span>
          <input type="text" class="form-control" placeholder="Ex, 1" aria-label="Ex, Shirts" aria-describedby="basic-addon1" name="type_id"value="{{items.type_id}}">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">Tag:</span>
          <input type="text" class="form-control" placeholder="Ex, 1" aria-label="Ex, Shirts" aria-describedby="basic-addon1" name="tagIds" value="{{items.tagIds}}">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">Stock</span>
          <input type="text" class="form-control" placeholder="Ex, 1" aria-label="Ex, Shirts" aria-describedby="basic-addon1" name="stock" value="{{items.stock}}">
        </div>
          <button  class= "text-white"><a href="/">CANCEL</a></button>
          <button  class= "text-white" type="submit">SAVE</button>

</form> 
</div>

<script src="javascript/edit.js"></script>




