            <div class="col">
              <h1 class="alert alert-info">ID Types</h1>
              {{#each items as |item| }}
              <li><strong>Id: {{item.id}} </strong><strong>Name: </strong>{{item.item_name}}, price: {{item.price}}, stock: {{item.stock}}, type: {{type.type_name}}</li>

              {{else}}
                <li>
                  nothing here
                </li>
              {{/each}}



